@font-face {
font-family: "Concert One";
src: url("../content/ConcertOne-Regular.ttf") format('truetype');
}
body {
    height: 100%;
    margin: 0;
    background-attachment: scroll;
    background: linear-gradient(to bottom, #0c0d108F, #4b505eD0),url("../content/DarkConcrete2.png");
    font-family: 'Concert One';
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.commentdeco {
    text-align: center;
    color: #48c43f;
    font-size: 64px;
}


div.container {
    text-align: center;
}

ul.DabblesWith {
    display: inline-block;
    text-align: left;
    color: #48c43f;
    font-size: 32px;
    list-style-position: inside;
    background-image: linear-gradient(to left, #7aef72, #3fc4b4);
    background-size: 100%;
    background-clip: revert;
    -webkit-text-fill-color: transparent;
    object-fit: cover;
    -webkit-background-clip: text;
}

h2 {
    text-align: center;
    color: #48c43f;
    font-size: 48px;
}

div.gamesContainer {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: safe center;
    justify-content: center;
    flex-wrap: wrap;
}

div.generalContainer {
    display: flex;
    flex-direction: row;
    align-items: safe center;
    justify-content: center;
    flex-wrap: wrap;
}

div.IconsContainer {
    display: flex;
    flex-direction: row;
    align-items: safe center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    /* as suggested by Matheus Avellar */
    overflow: hidden;
}

div.YTIconsContainer {
    zoom: 0.5;
    display: flex;
    flex-direction: row;
    align-items: safe center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    align-content: flex-start;
    /* as suggested by Matheus Avellar */
    overflow: hidden;
}

.Icon {
    zoom: 0.5;
    transform: scale(.6);
    transition: transform 150ms ease-in-out;
}
.Icon img{
}

    .Icon:hover {
        transform: scale(.6) translateY(-5px) rotate(20deg);
    }

ul.Horizontal {
    list-style: none;
    margin-left: -38px;
}

li.Horizontal {
    display: inline;
    float: left;
}

html {
    scroll-behavior: smooth;
}

p {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    font-size: 25px;
    text-align: center;
    color: #d0d7eb;
    background-color: #2e344640;
    border: solid #505975 4px;
    border-radius: 6px;
}

ul {
    /*margin-top:-10px;*/
}

    ul ul {
        margin-top: 0px;
        font-size: 80%;
    }

.DabbleItem ul {
    display: none;
}

.DabbleItem li:hover + ul {
    display: block;
}

.tooltip {
    position: relative;
    display: inline-block;
}

    .tooltip .bottom_tooltiptext {
        visibility: hidden;
        width: 350px;
        background-color: black;
        color: #fff;
        text-align: left;
        padding: 5px, 0;
        border-radius: 6px;
        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
        right: 50%;
        opacity: 0;
        transition: opacity 0.25s;


        top: 100%;
        left: 50%;
        margin-left: -175px; /* Use half of the width (120/2 = 60), to center the tooltip */
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .bottom_tooltiptext {
        visibility: visible;
        opacity: 1;
    }

    .tooltip .bottom_tooltiptext::after {
        content: " ";
        position: absolute;
        bottom: 100%; /* At the top of the tooltip */
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent black transparent;
    }


a, a:visited {
    color: #82fff0;
}

    a:hover, a:visited:hover {
        color: #00c1a9;
    }

    a:active, a:visited:active {
        color: #008978;
    }


div.BarContainer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;
    background-color: #3d496c;
    box-shadow: 0px 3px #0d163060;
    border-bottom: solid #58699b 5px;
}

a.bar {
    background-color: none;
    /*border: 5px solid #6accc0;*/
    color: #ffffff;
    padding: 15px 5px;
}

    a.bar:visited {
        color: #ffffff;
    }

        /*a.bar:hover, a.bar:visited:hover {*/
        /*color: #c4c4c4;*/
        /*background-color: #717d9f;
}*/

        a.bar:active, a.bar:visited:active {
            /*color: #949494;*/
            background-color: #2f3b5f;
        }

img.YouTubeImage {
    width: 250px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a.YouTubeHyperlink {
    background-color: #22232f;
    border-radius: 20px;
    border: 5px solid;
    border-color: #7b7c8f;
    text-decoration: none;
    color: #48c43f;
    transform: scale(1);
    transition: transform 150ms ease-in-out;
}

p.YT {
    max-width: 350px;
    margin-left: 10px;
    margin-right: 10px;
    align-self: center;
    font-size: 25px;
    text-align: center;
    color: #48c43f;
    background-color: #00000000;
    border: none;
}

a.YouTubeHyperlink:hover {
    color: #48c43f;
    transform: scale(.8) translateY(-5px) rotate(10deg);
}